<div id="<%= dom_id oplatum %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= oplatum.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date:</strong>
    <%= oplatum.date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Pay:</strong>
    <%= oplatum.pay %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Canceled:</strong>
    <%= oplatum.canceled %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= oplatum.duration %>
  </div>
</div>
