<% content_for :title, "Дашборд" %>

<div class="w-full mt-0 pt-0 px-4 sm:px-0">
  
  <%= render "oplata/dashboard/header" %>
  <%= render "oplata/dashboard/month_switcher" %>
  <%= render "oplata/dashboard/stats_cards" %>
  <%= render "oplata/dashboard/payment_methods" %>
  <%= render "oplata/dashboard/recent_payments" %>

</div>